.idea/*
.vagrant
env
/logs/
/vagrant/
/deploy/
build/*
debug/*
dist/*
docker/
.sass-cache/
*.pyc
*.backup
*.log
*.egg-info
*.pid
*.cfg
*.package
*.env
*.yml
*.md
*.iso
*.crt
*.key
docker*.*
Dockerfile
Dockerfile.*
